<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ status_code }} {{ status_text }}</title>
    </head>
    <body>
        <h1>Oops! Une erreur s'est produite</h1>
        <h2>Le serveur vous renvoie l'erreur "{{ status_code }} {{ status_text }}".</h2>

        <div>Cela signifie que la page à laquelle vous voulez accéder n'existe pas.</div>
    </body>
</html>
