<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ status_code }} {{ status_text }}</title>
    </head>
    <body>
        <h1>Oops! Une erreur s'est produite</h1>
        <h2>Le serveur vous renvoie l'erreur "{{ status_code }} {{ status_text }}".</h2>

        <div>
        Quelque chose ne fonctionne plus. S'il vous plait, dites-nous ce que vous faisiez lorsque l'erreur est arrivée. Nous réparerons cela au plus vite. Désolé pour le problème survenu.
        </div>
    </body>
</html>
